<turbo-frame id="savings_table_meter">
    <div class="flex flex-col items-center bg-gray-700 p-5 rounded-lg shadow-lg w-72 h-40">
        <h3 class="text-lg font-bold text-loveRed mb-3">Progresso Atual:</h3>
        <div class="relative w-full bg-gray-800 h-6 rounded-full">
            <div class="absolute top-0 left-0 h-6 rounded-full bg-blue-500" 
                style="width: <%= (savings_table.current_value.to_f / savings_table.max_value) * 100 %>%"></div>
        </div>
        <p class="text-gray-300 mt-5 text-sm">
            <strong><%= number_to_currency(savings_table.current_value) %></strong> economizados de 
            <strong><%= number_to_currency(savings_table.max_value) %></strong>.
        </p>
    </div>
</turbo-frame>
