<turbo-frame id="squares_grid">
  <div id="savings-grid" class="grid grid-cols-10 gap-3 p-4 bg-gray-900 rounded-lg shadow-xl">
    <% savings_table.savings_table_squares.each do |square| %>
      <%= render partial: "square", locals: { square: square} %>
    <% end %>
  </div>
</turbo-frame>
